:root {
  --heading-black-color: #212121;
  --text-grey-color: #757575;
  --blue-color: #2196f3;
  --logo-black-color: #000000;
  --white-color: #ffffff;
  --white-color-opacity60: rgba(255, 255, 255, 0.6);
  --background-black-color: #2f303a;
  --background-grey-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--text-grey-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0 auto;
}

ul {
  padding-left: 0;
}

/* ЛОГО */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  color: var(--blue-color);
}

.logo-header {
  color: var(--logo-black-color);
}

.logo-footer {
  color: var(--white-color);
}

/* ХЕДЕР */

.nav-list,
.header .contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.nav-list .link {
  color: var(--heading-black-color);
}

.contact-list .link {
  color: inherit;
}

.nav-list .current-page,
.header .link:hover,
.header .link:focus {
  color: var(--blue-color);
}

/* ФУТЕР */

.footer {
  background-color: var(--background-black-color);
}

.adsress,
.footer .contact-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address {
  font-style: normal;
  color: var(--white-color);
}

.footer .contact-list {
  color: var(--white-color-opacity60);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--blue-color);
}

/* СТРАНИЦА СТУДИЯ */

/* секция "герой" */

.hero {
  background-color: var(--background-black-color);

  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.studio-main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);

  margin-top: 0;
  margin-bottom: 30px;
}

.hero .button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--blue-color);

  cursor: pointer;

  border: 0;
  border-radius: 4px;

  padding: 10px 32px;
}

/*  ЗАГОЛОВКИ СЕКЦИЙ */
/* секция "наши преимущества" */
/* секция "чем мы занимаемся" */
/* секция "наша команда" */

.advantages .title,
.our-works .title,
.our-team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--heading-black-color);
}

/* секция "наши преимущества" */

.advantages .title {
  display: none;
}

.advantages-list li {
  text-align: left;
}

.advantages-list .subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--heading-black-color);

  margin-bottom: 10px;
}

.advantages-list .description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

/* секция "чем мы занимаемся" */

.our-works {
  padding-top: 0;
}

/* секция "наша команда" */

.our-team {
  background-color: var(--background-grey-color);
}

.our-team-list .subtitle,
.our-team-list .description {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-list .subtitle {
  font-weight: 500;
  color: var(--heading-black-color);
}

.our-team-item {
  background-color: var(--white-color);
  width: 270px;
  margin: 0 auto;
}

/* СТРАНИЦА ПОРТФОЛИО */

.portfolio-buttons .button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--heading-black-color);
  background-color: var(--background-grey-color);

  cursor: pointer;
}

.portfolio-buttons .first-button,
.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.portfolio-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--heading-black-color);
}

.portfolio-list .description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
